<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<footer th:fragment="footer" class="mt-auto fixed-bottom" style="background-color: #EEF2FC !important;">
    <div class="container">
        <div class="row">
            <div class="col text-center" >
                <span><font color="gray !important">&copy Copyright Budget Tracker 2022</font></span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>