<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/circliful/1.0.2/js/jquery.circliful.min.js"></script>
<script>
var meetingData={};
$(document).ready(function(){
	loadAllMeetings();
	
	$("#addMeetingBtn").click(function(){
			$("#addMeetingModal").modal('toggle');
	});
	
	
	$('#startDatepicker').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss',
        minDate: new Date(),
        widgetPositioning:{
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });
	
	$('#endDatepicker').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss',
        minDate: new Date(),
        widgetPositioning:{
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });
	
	$("#deleteMeetingClick").click(function(){
		var meetingId = $("#meetingIdDelete").val();
		var owner = $("#meetingOwnerDelete").val();
		$.ajax({
		    type:"delete",
		    url:"/api/meeting/"+meetingId+"/"+owner,
		    contentType: 'application/json',
		    success: function(result){
		    	loadAllMeetings();
		    	 $("#meetingIdDelete").val("");
		    	 $("#meetingOwnerDelete").val("");
		    	$("#deleteMeetingModal").modal('toggle');
				//$("#successAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:green'>Account deleted successfully</p>");
				//$("#successAlert").modal("show");
		    },error: function(err){
				$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
				$("#errorAlert").modal("show");
			
			}
		});
	});
	$("#addMembersMeetingClick").click(function(){
		var data = {}
		 data["meetingId"]=$("#meetingIdAddMember").val();
		 data["memberName"]=$("#meetingAddMember").val();
		 if(data["memberName"]== null || data["memberName"] == undefined || data["memberName"] ==""|| data["memberName"].trim()=="" ||
			  data["meetingId"]== null || data["meetingId"] == undefined || data["meetingId"] ==""|| data["meetingId"].trim()==""){
					$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>Fields Cannot be blank!</p>");
						$("#errorAlert").modal("show");
					return false;
				}
		$.ajax({
		    type:"POST",
		    url:"/api/meeting/add-member",
		    contentType: 'application/json',
		    data: JSON.stringify(data),
		    success: function(result){
		    	$("#meetingIdAddMember").val("");
		    	$("#meetingAddMember").val("");
		    	$("#addMembersModal").modal('toggle');
		    	$("#successAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:green'>Member added successfully</p>");
				$("#successAlert").modal("show");
				loadAllMeetings();
		    },error: function(err){
		    	$("#addMembersModal").modal('toggle');
				$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
				$("#errorAlert").modal("show");
			
			}
		});
	});
	
	$("#removeMembersMeetingClick").click(function(){
		var data = {}
		 data["meetingId"]=$("#meetingIdRemoveMember").val();
		 data["memberName"]=$("#meetingRemoveMember").val();
		 if(data["memberName"]== null || data["memberName"] == undefined || data["memberName"] ==""|| data["memberName"].trim()=="" ||
			  data["meetingId"]== null || data["meetingId"] == undefined || data["meetingId"] ==""|| data["meetingId"].trim()==""){
					$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>Fields Cannot be blank!</p>");
						$("#errorAlert").modal("show");
					return false;
				}
		$.ajax({
		    type:"POST",
		    url:"/api/meeting/remove-member",
		    contentType: 'application/json',
		    data: JSON.stringify(data),
		    success: function(result){
		    	$("#meetingIdRemoveMember").val("");
		    	$("#meetingRemoveMember").val("");
		    	$("#removeMembersModal").modal('toggle');
		    	$("#successAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:green'>Member removed successfully</p>");
				$("#successAlert").modal("show");
				loadAllMeetings();
		    },error: function(err){
		    	$("#removeMembersModal").modal('toggle');
				$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
				$("#errorAlert").modal("show");
			
			}
		});
	});
	
	 $("#addMeetingSubmit").click(function(){
		 var data = {}
		 data["name"]=$("#meetingName").val();
		 data["responsiblePerson"]=$("#meetingOwner").val();
		 data["category"]=$("#categoryType").val();
		 data["type"]=$("#typeValue").val();
		 data["description"]=$("#meetingDesc").val();
		 data["startDate"]=$("#startDatepicker").val();
		 data["endDate"]=$("#endDatepicker").val();
		 
		 if(data["name"]== null || data["name"] == undefined || data["name"] ==""|| data["name"].trim()=="" ||
				   data["responsiblePerson"]== null || data["responsiblePerson"] == undefined || data["responsiblePerson"] ==""|| data["responsiblePerson"].trim()=="" ||
				   data["category"]== null || data["category"] == undefined || data["category"] ==""|| data["category"].trim()=="" ||
			       data["description"]== null || data["description"] == undefined || data["description"] ==""|| data["description"].trim()=="" ||
			       data["startDate"]== null || data["startDate"] == undefined || data["startDate"] ==""|| data["startDate"].trim()=="" ||
			       data["endDate"]== null || data["endDate"] == undefined || data["endDate"] ==""|| data["endDate"].trim()=="" ||
			    	data["type"]== null || data["type"] == undefined || data["type"] ==""|| data["type"].trim()==""){
					$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>Fields Cannot be blank!</p>");
						$("#errorAlert").modal("show");
					return false;
				}
		 $.ajax({
			    type:"post",
			    url:"/api/meeting",
			    contentType: 'application/json',
			    data: JSON.stringify(data),
			    success: function(result){
			    	loadAllMeetings();
			    	$("#addMeetingModal").modal('toggle');
					 $("#meetingName").val("");
					 $("#meetingOwner").val("");
					 $("#categoryType").val("");
					 $("#typeValue").val("");
					 $("#meetingDesc").val("");
					 $("#startDatepicker").val("");
					 $("#endDatepicker").val("");
			    },error: function(err){
					$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
					$("#errorAlert").modal("show");
				}
			});
	});  
});

function viewMeetingMembers(data){
	$("#viewMembersModal").children('.modal-dialog').children('.modal-content').children('.modal-body').children("#viewMembersList").empty();
	var members="";
	if(meetingData[data].members===null || meetingData[data].members.length===0 || meetingData[data].members===undefined){
		members="<p style='font-size:20px;color:red'>No members found</p>";
	} else {
		for(var i=0; i<meetingData[data].members.length; i++){
			members=members+"<p style='font-size:17px;'><i class='fa fa-user-circle' aria-hidden='true'></i>&nbsp;<font color='green'>"+meetingData[data].members[i].memberName+"</font> added at "+meetingData[data].members[i].addedAt+" </p>";
		}
	}
	$("#viewMembersModal").children('.modal-dialog').children('.modal-content').children('.modal-body').children("#viewMembersList").html(members);
	$("#viewMembersModal").modal('toggle');
}

function addMeetingMembers(data){
	$("#meetingIdAddMember").val(meetingData[data].meetingId);
	$("#addMembersModal").modal('toggle');
}

function removeMeetingMembers(data){
	$("#meetingIdRemoveMember").val(meetingData[data].meetingId);
	$("#removeMembersModal").modal('toggle');
}

function searchMeetings() {
	 var name=$("#nameSearch").val();
	 var responsiblePerson=$("#responsiblePersonSearch").val();
	 var description=$("#descriptionSearch").val();
	 var category=$("#categorySearch").val();
	 var type=$("#typeSearch").val();
	 var startDate=$("#startDateSearch").val();
	 var endDate=$("#endDateSearch").val();
	 var noOfMembers=$("#noOfMembersSearch").val();
	 $.ajax({
		    type:"get",
		    url:"/api/meeting?name="+name+"&description="+description+"&owner="+responsiblePerson+"&category="+category+"&type="+type+"&startDate="+startDate+"&endDate="+endDate+"&noOfAttendies="+noOfMembers,
		    contentType: 'application/json',
		    success: function(result){
				var res = JSON.stringify(result);
				accountList = result;
				meetingData = result;
				$("#meetingsTable").empty();
				var expenseData = "";
				var count = 1;
				for(var i in accountList) { 
					expenseData=expenseData+"<tr><th scope='row'>"+count+"</th><td><b>"+accountList[i].name+"</b></td><td>"+accountList[i].responsiblePerson+"</td><td>"+accountList[i].description+"</td><td>"+accountList[i].category+"</td><td>"+accountList[i].type+"</td><td>"+accountList[i].startDate+"</td><td>"+accountList[i].endDate+"</td><td><button id='deleteCategory"+i+"' onclick='viewMeetingMembers("+i+");' class='btn btn-success' ><i class='fa fa-eye fa-fw'></i></button>&nbsp;<button  id='updateCategory"+i+"' onclick='addMeetingMembers("+i+");' class='btn btn-primary'><i class='fa fa-plus-circle fa-fw'></i></button> <button id='deleteCategory"+i+"' onclick='removeMeetingMembers("+i+");' class='btn btn-danger' ><i class='fa fa-minus-circle fa-fw'></i></button></td><td><button  id='updateCategory"+i+"' onclick='deleteMeeting("+i+");' class='btn btn-danger'><i class='fa fa-times fa-fw'></i>DELETE</button> </td></tr>";
					count = count+1;
				}
				$("#meetingsTable").html(expenseData);
		    },error: function(err){
				$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
				$("#errorAlert").modal("show");
			}
		});
	 
}

function deleteMeeting(data){
	$("#meetingIdDelete").val(meetingData[data].meetingId);
	$("#deleteMeetingModal").modal('toggle');
}

function ApplyPicker() {
	$('#startDateSearch').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss',
        minDate:new Date(),
        widgetPositioning:{
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });
	 $("#startDateSearch").val(null);
	$('#endDateSearch').datetimepicker({
        format: 'DD-MM-YYYY HH:mm:ss',
        minDate: new Date(),
        widgetPositioning:{
            horizontal: 'auto',
            vertical: 'bottom'
        }
    });
	$("#endDateSearch").val(null);
}

function loadAllMeetings() {
	$.ajax({
	    type:"get",
	    url:"/api/meeting",
	    contentType: 'application/json',
	    success: function(result){
			var res = JSON.stringify(result);
			accountList = result;
			meetingData = result;
			$("#meetingsTable").empty();
			var expenseData = "";
			var count = 1;
			for(var i in accountList) { 
				expenseData=expenseData+"<tr><th scope='row'>"+count+"</th><td><b>"+accountList[i].name+"</b></td><td>"+accountList[i].responsiblePerson+"</td><td>"+accountList[i].description+"</td><td>"+accountList[i].category+"</td><td>"+accountList[i].type+"</td><td>"+accountList[i].startDate+"</td><td>"+accountList[i].endDate+"</td><td><button id='deleteCategory"+i+"' onclick='viewMeetingMembers("+i+");' class='btn btn-success' ><i class='fa fa-eye fa-fw'></i></button>&nbsp;<button  id='updateCategory"+i+"' onclick='addMeetingMembers("+i+");' class='btn btn-primary'><i class='fa fa-plus-circle fa-fw'></i></button> <button id='deleteCategory"+i+"' onclick='removeMeetingMembers("+i+");' class='btn btn-danger' ><i class='fa fa-minus-circle fa-fw'></i></button></td><td><button  id='updateCategory"+i+"' onclick='deleteMeeting("+i+");' class='btn btn-danger'><i class='fa fa-times fa-fw'></i>DELETE</button> </td></tr>";
				count = count+1;
			}
			if(expenseData===""){
				expenseData=expenseData+"<tr><td colspan='10'><p style='font-size:20px;color:red;text-align: center;'>No meetings found</p></td></tr>";
			}
			
			$("#meetingsTable").html(expenseData);
	    },error: function(err){
			$("#errorAlert").children('.modal-dialog').children('.modal-content').children('span').html("<p style='font-size:20px;color:red'>"+err.responseText+"</p>");
			$("#errorAlert").modal("show");
		}
	});
	ApplyPicker();
}
</script>

<body>
<!--Navbar-->
<nav th:replace="fragments/header :: nav"></nav>

<div style="padding-bottom:10px;">
    <div class="row">
		<div class="card col-12 mx-auto" style="width: 20rem; margin-top: 10px;padding:25px">
			<H3>Meetings</H3>
			<div class="" style="">
				<button type="button" id="addMeetingBtn" class="btn btn-success" style="float: right;margin-top:-50px" data-toggle="modal"><i class="fa fa-plus-circle fa-fw"></i> Create Meetings</button>
			</div>
			<table class='table table-hover'>
				<thead><tr><th scope='col'>#</th><th scope='col'>Name</th><th scope='col'>Responsible Person</th><th scope='col'>Description</th><th scope='col'>Category</th><th scope='col'>Type</th><th scope='col'>Start date</th><th scope='col'>End date</th><th scope='col' style='width:165px'>Members</th><th scope='col'>ACTION</th></tr></thead>
				<thead><tr><th scope='col'>#</th><th><input type='text' class='form-control' placeholder="Search Name" id='nameSearch'/></th><th><input type='text' placeholder="Search Owner" class='form-control' id='responsiblePersonSearch'/></th><th><input type='text' class='form-control' placeholder="Search Description" id='descriptionSearch'/></th><th><input type='text' class='form-control' placeholder="Search category" id='categorySearch'/></th><th><input type='text' class='form-control' placeholder="Search Type" id='typeSearch'/></th><th><input class='form-control' placeholder="Search Startdate" type='text'  id='startDateSearch'/></th><th><input class='form-control' type='text' placeholder="Search Enddate" id='endDateSearch'/></th><th><input type='text' class='form-control' placeholder="No Of Attendies" id='noOfMembersSearch'/></th><th><button type='button'class='btn btn-primary' onclick='searchMeetings()' id='searchSubmit'><i class='fa fa-search'></i>&nbsp;SEARCH</button></th></tr></thead>
				<tbody id="meetingsTable"></tbody>
			</table>
		</div>
    </div>
</div>

<div class="modal" id="addMeetingModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title" id="categoryModalLabel">CREATE MEETING</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">			
				<div class="form-group">
					<label for="exampleInputEmail1">Name</label>
					<input type="text" class="form-control" id="meetingName" placeholder="Category Name">
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1">Responsible Person</label>
					<input type="text" class="form-control" id="meetingOwner" placeholder="Category Name">
				</div>
				
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Description</label>
					<textarea class="form-control" id="meetingDesc" rows="3"></textarea>
				</div>
				
				<div class="form-group">
					<select id="categoryType" class="form-control" style="height:34px !important">
						<option selected disabled>Select Category</option>
						<option value="CodeMonkey">CodeMonkey</option>
						<option value="Hub">Hub</option>
						<option value="Short">Short</option>
						<option value="TeamBuilding">TeamBuilding</option>
					</select>
				</div>					
				
				<div class="form-group">
					<select id="typeValue" class="form-control" placeholder="Type" style="height:34px !important">
						<option selected disabled>Select Type</option>
						<option  value="Live">Live</option>
						<option value="InPerson">InPerson</option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="exampleInputEmail1">Select Start Date</label>
					<input class="form-control" type="text" id="startDatepicker">
				</div>
					
				<div class="form-group">
					<label for="exampleInputEmail1">Select End Date</label>
					<input class="form-control" type="text" id="endDatepicker">
				</div>
			</div>
			
			<div class="modal-footer">				
				<button type="button" id="addMeetingSubmit" class="btn btn-primary">CREATE</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="deleteMeetingModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="categoryModalLabel">Delete Meeting</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">			
				<div class="form-group">
					<label for="exampleInputEmail1">Meeting Responsible Person</label>
					<input type="text" class="form-control" id="meetingOwnerDelete" placeholder="Responsible Person Name">
				</div>
				
				<div class="form-group">
					<input type="text" hidden="true" class="form-control" id="meetingIdDelete" placeholder="Category Name">
				</div>
			</div>
			
			<div class="modal-footer">			
				<button type="button" id="deleteMeetingClick" class="btn btn-primary">DELETE</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
			</div>
		</div>
  </div>
</div>

<div class="modal" id="addMembersModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="categoryModalLabel">ADD MEMBER</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">			
				<div class="form-group">
					<label for="exampleInputEmail1">Member Name</label>
					<input type="text" class="form-control" id="meetingAddMember" placeholder="Member Name">
				</div>
				
				<div class="form-group">
					<input type="text" hidden="true" class="form-control" id="meetingIdAddMember" placeholder="Category Name">
				</div>
			</div>
			
			<div class="modal-footer">				
				<button type="button" id="addMembersMeetingClick" class="btn btn-primary">ADD</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="removeMembersModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="categoryModalLabel">REMOVE MEMBER</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">			
				<div class="form-group">
					<label for="exampleInputEmail1">Member Name</label>
					<input type="text" class="form-control" id="meetingRemoveMember" placeholder="Member Name">
				</div>
				
				<div class="form-group">
					<input type="text" hidden="true" class="form-control" id="meetingIdRemoveMember" placeholder="Category Name">
				</div>
			</div>
			
			<div class="modal-footer">			
				<button type="button" id="removeMembersMeetingClick" class="btn btn-primary">REMOVE</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="viewMembersModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="categoryModalLabel">VIEW MEMBERS</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
					<div id="viewMembersList"></div>
				
			</div>
			
			<div class="modal-footer">				
				<button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="successAlert" role="dialog" aria-labelledby="successAlertLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="text-align: center;padding:50px">
			<i class="fa fa-check-circle  fa-5x" aria-hidden="true" style="color: green;"></i><br>
			<span id="successMsg"></span><br><br>
			<button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
		</div>
	</div>
</div>

<div class="modal" id="errorAlert" role="dialog" aria-labelledby="successAlertLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="text-align: center;padding:50px">
			<i class="fa fa-times-circle  fa-5x" aria-hidden="true" style="color: red;"></i><br>
			<span id="errorMsg"></span><br>
			<button type="button" class="btn btn-success" data-dismiss="modal">Okay</button>
		</div>
	</div>
</div>

<div th:replace="fragments/jsScripts :: scripts"></div>
</body>
</html>